newPlayer/node_modules/babel-core/node_modules/babel-code-frame/node_modules/chalk/node_modules/has-ansi/node_modules
newPlayer/node_modules/babel-core/node_modules
newPlayer/node_modules/babel-loader/node_modules/loader-utils/node_modules
newPlayer/node_modules
react-player/node_modules
useYouziCarousel/node_modules
